*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 80px;
  /* margin: 80px 0 45px 0; */
  font-family: system-ui;
  background-color: white;
}

.header {
  background: blue;
  color: #ffffff;
  height: 75px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
  top: 0;
}

.header__heading {
  text-align: center;
  font-size: 30px;
}

.card {
  margin: 20px;
  padding: 20px 10px 20px 10px;
  border: 2px solid black;
  position: relative;
  height: 150px;
}

.card i {
  /* float: right; */
  position: absolute;
  color: orangered;
  top: -2.5;
  right: -2.5;
  font-size: 8vw;
}

.card__question {
  font-size: 20px;
  text-align: center;
  margin: 10px 40px 20px 40px;
}

button.card__answer {
  font-size: 15px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  background-color: white;
  border: orangered solid 3px;
  height: 30px;

  /* border-style: solid;
  border-radius: 5px;
  border-width: 0px;
  padding: 1%;
  margin-top: 5%;
  margin-bottom: 5%; */
}

footer {
  position: fixed;
  background: blue;
  color: white;
  width: 100%;
  z-index: 1;
  bottom: 0px;
  /* height: 30px; */
}

/*
      Footer Navigation
  */

ul.nav-list {
  display: flex;
  justify-content: space-around;
  background-color: blue;
  color: white;
  list-style-type: none;
  font-size: 6vw;
  padding: 5%;
  margin: 0px;
}

li.nav-link a {
  color: white;
}
